body {
	font-size: 20px;
	text-align: center;
	color: #444;
}
.player_clock {
	padding: 5px;
	-moz-border-radius: 10px;
	border: 2px solid #fff;
	background-color: #ddf;
}
.player_clock.PAUSED_clock {
	background-color: #ddd;
}

.active_player_clock_1 .active_player_clock_2 {
	font-size 20px;
}
.active_clock {
	background-color: #dfd;
	border: 2px solid #080;
	color: #060;
}

.PAUSED_clock.active_clock {
	background-color: #ddd;
	border: 2px solid #888;
}
.PAUSED_clock {
	color: #666;
}

.remaining_time {
	font-size:  50px;
}
.move {
	font-size:  30px;
}
.active_clock .remaining_time , .active_clock .move {
	color: black;
}

.active_clock.alert {
	background-color: #fdd;
	border: 2px solid #800;
	color: #600;
}
.active_clock.alert_1, .active_clock.alert_2, .active_clock.alert_30 {
	background-color: #f88;
}
.PAUSED_clock.alert, .PAUSED_clock .remaining_time, .PAUSED_clock .move {
	color: #866;
}
