body {
	font-size: 20px;
	text-align: center;
}
.player_clock {
	padding: 5px;
	-moz-border-radius: 10px;
	border: 2px solid #fff;
}
.player_clock_2 {
	//background-color: #eee;
}

.active_player_clock_1 .active_player_clock_2 {
	font-size 20px;
}
.active_clock {
	background-color: #dfd;
	border: 2px solid #080;
}

.PAUSED_clock.active_clock {
	background-color: #ddd;
	border: 2px solid #888;
}

.remaining_time {
	font-size: 20px;
}
